
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#userbox {
  margin: 30px;
  float: left;
  width: 280px;
  height: 280px;
  margin-left: 200px;
  border: 1px solid black;
  outline: none;
}

#gptbox {
  margin: 30px;
  width: 280px;
  height: 280px;
  float: right;
  border: 1px solid black;
  outline: none;
  margin-right: 500px;
}

#inputBox {
  margin-left: 300px;
  width: 500px;
  height: 20px;
  font-size: 1.2rem;
  padding: 20px;
  /* float: left; */
}

#sendBtn {
  float: right;
  margin-top: -40px;
  margin-right: 500px;
}

#recordBtn,
#stopBtn {
  margin-top: 30px;
  margin-left: 300px;
}